@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document url("http://translator.openttd.org/en/edit") {

  /* Take advantage of full width */
  #stringBase,
  #stringTranslation,
  #header,
  #navigation,
  #status,
  #error,
  #content-main,
  #content-top,
  #section-full,
  #content-bottom,
  #footer,
  #navigationList table,
  #server-info-table,
  #server-table {
    width:100% !important
  }
  /* Reduce buttons' cells, center them */
  #server-info-table tr>td+td[colspan]+td,
  #server-info-table tr>td:nth-child(4) {
    width: 10% !important;
    text-align: center !important;
  }
  /* Navigation table (Prev, First, Search, List, Last, Next)*/
  #navigationList table tr>td:nth-child(1),
  #navigationList table tr>td:nth-child(5) {
    text-align: right !important;
  }
  #topPrev {
  position: relative;
  left: 979px !important; /* To be adjusted to your needs ! */
  }
  #topFirst {
  position: relative;
  left: -55px !important; /* To be adjusted to your needs ! */
  }
  #topLast {
  position: relative;
  left: -924px !important; /* To be adjusted to your needs ! */
  }

  /* 'Related' table */
  /* first row is enough to define col width ==> th not td */
  #relatedList #server-table tr>th:nth-child(1),
  #relatedList #server-table tr>th:nth-child(2) {
    width: 45% !important;}
  /* History table */
    /* untouched */

}
