@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document url("http://translator.openttd.org/en/edit") {

body{
    font-family:tahoma;
    font-size:18px !important;
   }
html body div#content-main div#content-top div#content-left div#content-right div#content div#section-full div.section-item div.content form div#mainList div table#server-info-table tbody tr td input#stringBase{
     width:100% !important;
}
html body div#content-main div#content-top div#content-left div#content-right div#content div#section-full div.section-item div.content form div#mainList div table#server-info-table tbody tr td input#stringTranslation{
       width:100% !important;
       font-family:Tahoma !important;
       font-size:12px !important;
      }
#header{
         width:100% !important

}
#navigation{
         width:100% !important

}

#content-main{
         width:100% !important

}

#content-top{
         width:100% !important

}

#section-full{
         width:100% !important

}

#content-bottom{
         width:100% !important

}

html body div#footer{
         width:100% !important

}
html body div#content-main div#content-top div#content-left div#content-right div#content div#section-full div.section-item div.content form div#mainList div table#server-info-table
{
         width:100% !important

}

}